*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
.header{
    text-align: center;
    width:100vw;
    height: 9vw;
}

.heading{
    margin-top: 0.8vw;
    font-style: normal;
    font-weight: 200;
    font-size: 2.4vw;
    letter-spacing: 0.008em;
 }
 .title{
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    letter-spacing: 0.005em;
    
 }

 .heading-text{ 
    margin:auto;
    width: 50vw;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
    text-align: center;
 }
 .card{
    width: 20vw;
    min-height: 12vw;
    margin: 0.85vw;
    padding-bottom: 0.5vw;
    box-sizing: border-box;
    border-radius: 0.5vw;
    box-shadow: 1vw 1vw 4vw rgba(63, 60, 60, 0.25), -1vw -1vw 4vw rgba(63, 60, 60, 0.25);
 }
 .card-red{
    border-top:  0.4vw solid #EC5355;
 } 
 .card-green{
    border-top:   0.4vw solid #5FC7C8;
 } 
 .card-yellow{
    border-top:   0.4vw solid #FBAD4B;
 } 

 .card-blue{
   border-top:   0.4vw solid #549CEE;
}
 .div-align{
   background-color: #549CEE;
   height: inherit;
   width: inherit;
    padding: 0 17vw;
 }
.card-holder{ 
   margin: auto;
   margin-top: 5vw;
}
 
 .left {
   float: left;
 }
 .mid{
   margin-top: 12%;
 }
 
 .right {
   float: right;
 }
 .card-heading{
    text-align:left !important;  
    padding: 1.5vw 0 0 1.5vw;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    letter-spacing: 0.01em;
  }
  .card-text{
    text-align:left !important;
    width: 17vw;
    padding-left: 1.5vw;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;;
    letter-spacing: 0.01em;
  }
.icon-image{
    margin:0.5vw 0 0 14vw;
    width: 4vw;
    height: 4vw;  
   }